<div class="px-4 py-5 mb-5 text-center border-bottom bg-light shadow-sm">
	<h1 class="display-5 mt-5 mb-3">Car Maintenance</h1>
	<button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#car-add-modal">
		<i class="fa fa-plus"></i> Add New Car
	</button>
	<app-car-add></app-car-add>
</div>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="card border-0 shadow mb-5">
				<table class="table m-0 table-striped table-bordered">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Model</th>
							<th scope="col">Price</th>
							<th scope="col" style="width:  10%">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let car of cars">
							<td>{{car.name}}</td>
							<td>{{car.model}}</td>
							<td>{{car.price}}</td>
							<td>
								<div class="btn-group" role="group" aria-label="Basic example">
									<button type="button" class="btn btn-success" (click)="showCarDetails(car.id)"><i
											class="fa fa-eye"></i></button>
									<button type="button" class="btn btn-warning text-white"
										style="background-color: #f08d02; border-color: #f08d02"
										(click)="showCarEdit(car.id)"><i class="fas fa-pen"></i></button>
									<button type="button" class="btn btn-danger" (click)="showCarDelete(car.id)"><i
											class="fa fa-trash"></i></button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>