<div class="px-4 py-5 mb-5 text-secondary text-center border-bottom bg-light shadow-sm">
    <h4 class="mt-5">Hello, {{username}}</h4>
    <h1 class="display-4 text-dark">Welcome to the Car Service</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-5 shadow">
                <div class="card-body" *ngFor="let car of cars">
                    <div class="card">
                        <div class="card-body">
                            <div class="row fs-6 text-sm">
                                <div class="col-3">Name</div>
                                <div class="col-3">Model</div>
                                <div class="col-3"></div>
                                <div class="col-3">Price</div>
                            </div>
                            <div class="row fs-4">
                                <div class="col-3 fw-bold">{{car.name}}</div>
                                <div class="col-3 fw-bold">{{car.model}}</div>
                                <div class="col-3"></div>
                                <div class="col-3">${{car.price}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>