<div class="px-4 py-5 mb-5 text-center bg-dark text-secondary">
    <h1 class="display-5 fw-bold text-white">Welcome to the Car Fest</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas atque omnis quod
            tenetur, non asperiores quae sit eaque accusamus animi?</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Model</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let car of cars">
                        <td>{{car.name}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>