<main class="form-signin text-center card">
    <h4>Registration</h4>
    <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
        <label for="exampleInputLogin1" class="form-label">Login</label>
        <input type="login" class="form-control" id="exampleInputLogin1" name="login" ngModel required>

        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" name="email" ngModel required email>
    
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control mb-3" id="exampleInputPassword1" name="password" ngModel required>
        
        <button type="submit" class="btn btn-secondary float-start" routerLink="/login">Login</button>
        <button type="submit" class="btn btn-primary float-end" [disabled]="myForm.invalid">Register</button>
    </form>
</main>