<main class="form-signin text-center">
    <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
        <h1 class="h3 mb-3 fw-normal">Please log in</h1>

        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
                ngModel required email>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
                ngModel required>
            <label for="floatingPassword">Password</label>
        </div>

        <button type="submit" class="w-100 btn btn-lg btn-primary" [disabled]="myForm.invalid">Log In</button>
        <p><a routerLink="/register">Create new account</a></p>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</main>