<div class="modal fade" id="car-add-modal" tabindex="-1" aria-labelledby="car-add-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit(myForm)">
                <div class="modal-header">
                    <h5 class="modal-title" id="car-add-label">Add New Car</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <label for="exampleInputName" class="form-label text-start">Name</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control mb-3" id="exampleInputName" name="name" ngModel
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="exampleInputModel" class="form-label text-left">Model</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control mb-3" id="exampleInputModel" name="model" ngModel
                                required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="exampleInputPrice" class="form-label text-left">Price</label>
                        </div>
                        <div class="col-9">
                            <input type="number" class="form-control mb-3" id="exampleInputPrice" name="price" ngModel
                                required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Add New Car</button>
                </div>
            </form>
        </div>
    </div>
</div>